# build output
dist

# dependencies
node_modules/
.snowpack/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
pnpm-error.log*
logs
*.log

# environment variables
.env
.env.production
.env.local
.env.development
.env.test
.env.staging
.env.*.local

# macOS-specific files
.DS_Store

# Local Netlify folder
.netlify
netlify

coverage/
.nyc_output/
.eslintcache
*.tsbuildinfo
.vscode/
.idea/
.vercel
.vite/
.cache/
.parcel-cache/
Thumbs.db
tmp/
temp/
*.swp
*.swo
*~
